@model IEnumerable<MarketingR.Models.Producto>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ultima_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existencias)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ultima_compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencias)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_producto }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_producto }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_producto })
            </td>
        </tr>
    }

</table>
