@model MarketingR.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Documento.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Documento.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClienteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
