@model IEnumerable<MarketingR.Models.Cliente>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/AdminLTE.css" rel="stylesheet" />

<div class="box box-primary" style="margin-top:20px;">
    <div class="box-header">
        <h4 class="box-title">Listado de Clientes</h4>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-success" name="btnIndex" id="btnIndex" onclick="Regresar()">
                <i class="fas fa-plus-square"></i> Crear Nuevo
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo_Documento.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido_Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movil)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo_Documento.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido_Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movil)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ClienteID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ClienteID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ClienteID })
                    </td>
                </tr>

            }
        </table>
    </div>
    </div>
    <script>
        function Regresar() {
            document.getElementById("btnIndex")
            location.href = "/Clientes/Create";
        }
    </script>
