@model MarketingR.Models.AdministracionRol

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AdministracionRol</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id_empleado, "Id_empleado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_empleado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RolID, "RolID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RolID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RolID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick="realizaProceso()" />
            </div>
        </div>
    </div>
}
    <script src="~/Scripts/jquery-3.3.1.js"></script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function realizaProceso(Id_empleado, RolID){
        var parametros = {
            "Id_empleado": Id_empleado,
            "RolID": RolID
        };
        $.ajax({
                data:  parametros, //datos que se envian a traves de ajax
                url:   '@Url.Action("Create","Roles")', //archivo que recibe la peticion
                 type: 'post', //método de envio
                datatype: 'json',
            success: function (response) {//una vez que el archivo recibe el request lo procesa y lo devuelve
                if (response.success) {
                    alert("Elemento ingesado")
                } else {
                    alert("error")
                }
                       
            },
            error: function (xhr) { // if error occured
                swal("Producto Editado!", "Datos  guardados correctamente!", "success");    
                $("#resultado").append(xhr.statusText + xhr.responseText);
                $("#resultado").html("Error");
            },
    });
}
</script>