@model MarketingR.Models.AdministracionRol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdministracionRol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.rol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdminRolID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
