@model MarketingR.Models.Empleado

@{
    ViewBag.Title = "Details";
}

<hr />
<div class="panel panel-primary">
    <div class="panel-heading">Detalle empleados</div>
    <div class="panel-body">
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Tipo_documento.Descripcion)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Tipo_documento.Descripcion, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Nombres)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Apellidos)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Porcentaje_bonificado)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Porcentaje_bonificado, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.FechaNacimiento)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Hora_inicio)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Hora_inicio, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Salario)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Salario, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-sm-4">
                @Html.LabelFor(model => model.Numero_documento)
            </div>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Numero_documento, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "true" } })
            </div>
        </div>
        <br />
    </div>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_empleado }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-danger" })
</p>
